<nav>
    <a routerLink="/home" routerLinkActive='active'>Inicio</a>
    <a routerLink="/products" routerLinkActive='active'>Productos</a>
    <a routerLink="/contact" routerLinkActive='active'>Contacto</a>
</nav>
