<div>
    <img [src]="product.image" alt="">
</div>
<div>
    <ul>
        <li>Nombre: {{product.title}}</li>
        <li>precio: {{product.price | currency}}</li>
    </ul>
    <p>Descripcion: {{ product.description}}</p>
</div>
