<div>
    <h3>{{ product.title | uppercase }}</h3>
    <img [src]="product.image" alt="">
    <strong>{{ product.price | currency:"MXN":"symbol" }}</strong>
    <p>{{ product.description | slice:0:10 }}</p>
    <button (click)="addCart()">Agregar Al Carrito</button>
    <a [routerLink]="['/products', product.id]">Ver detalle</a>
</div>
