/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
    padding: 0px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

@media (min-width: 600px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }   
}